{% extends "::base.html.twig" %}

{% block body %}
	<section class="asignaturas">
		<h2><i class="glyphicon glyphicon-file"></i> Asignaturas</h2>
		{% if is_granted("ROLE_ADMIN") %}
		
			<div class="row">
			    <div class="col-xs-11 text-left">
			    	<a href="nuevaasignatura" class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span> Nueva asignatura</a>
			    </div>
			</div>
		{% endif %}
    	<hr/>
		{% for asignatura in asignaturas %}
			
			<div class="row">
				{% if is_granted("ROLE_ADMIN") %}
				 
					<div class="row">
					    <div class="col-xs-11 text-right">
							<div class="btn-group" role="group" aria-label="...">
					        	<a href="editasignatura/{{asignatura.getId()}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					        	<a href="eliminarasignatura/{{asignatura.getId()}}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
								  
					        </div>
					    </div>
				    </div>
			    {% endif %}   
			    <div class="col-md-10 col-sm-10">
			      
			      <div class="row">
			        <span>{{asignatura.getAsignatura()}}</span>
			      </div>
			    </div>
			</div>
			<hr/>
		{% endfor %}

	</section>	
{% endblock %}